@charset "utf-8";
/* CSS Document */
table {
	table-layout: fixed;
	word-wrap:break-word;
}
.source {
	border:1px solid #ccc;
	margin:15px 0;
	padding:15px;
	border-radius:15px;
	word-wrap:break-word;

}
.paginator {
	padding:5px 15px;
	text-align:center;
	border-top:1px solid #C4E8FF;
	border-bottom:1px solid #C4E8FF;
}
.pagination-trigger {
}
.paginator .btn-link {
	padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    margin: 3px;
    border-radius: 5px;
	background:#f3f3f3;
	border:1px solid #ccc;
}
.paginator .btn-link:hover {
	text-decoration:none;
	background:#509DDC;
	color:#fff;
	border:1px solid #3093CB;

}
.fade-record-link {
	color:#aaa;
}
.record-info {
	font-size:12px;
	font-style:italic;
	color:#666;
}
h1,h2,h3,h4,h5,h6 {
	color:#555;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:100;
	margin:30px 0;
}
p {
	color:#333;
	font-weight:300;
}
h6,h5 {
	text-align:center;
	margin:20px 0;
}
h3 {
	background:#f3f3f3;
	padding:15px;
}
h4 {
	margin-top:40px;
	border-bottom:1px solid #eee;
	padding-bottom:5px;
}
.form-control {
	margin-bottom:8px;
	border-radius:0;
	font-size:13px;
	box-shadow:0 0 5px #ddd;
	/*padding:0.4rem !important;*/
}
.form-control:focus {
	box-shadow:0 0 5px #aaa;	
}
select.form-control:not([size]):not([multiple]) {
	height:calc(2.5rem - 6px) !important;
}
select option:first-child, select{
  color: #aaa;
}

.mce-panel {
	margin-bottom:15px !important;
}
form {
	margin-bottom:40px;
}
textarea {
	resize:vertical;
}
label {
	font-size:11px;
	color:#333;
	font-weight:bold;

}
.pure-link {
	margin-top:-6px !important;
	padding-left:0 !important;
	margin-left:0 !important;
}
.p15 {
	padding:15px;
}
.crud360-form-msg {
	margin:15px 0;
}
.title-required {
	color:red;
}
.crud360-records-holder{
	padding-bottom:15px;
	margin-bottom:50px;
	/*border-bottom:3px solid #f0f0f0;*/
}
.alert {
	border-radius:0;
	margin:0;
}
.add-button {
	padding:15px;
	background:#fbfbfb;
	border-bottom:3px solid #ccc;


}
.add-button h4 {
	margin:0 !important;
	padding:0 !important;
	font-weight:normal;
	font-size:22px;
	margin-bottom:10px !important;

	border:none !important;
}
.add-button-body {
	text-align:right;
}
.table td {
	padding:5px 0px !important;
	padding-right:5px !important;
	color:#666;
	font-size:13px;
}
table th {
	padding:5px 0px !important;
	padding-right:5px !important;
	font-size:13px;
	color:#555;
	border:none !important;
}
.table .operations {
	padding-right:0px !important;
}

.crud360-records-video {
	margin-right:5px;
}
.crud360-records-img {
	margin-right:5px;
}

td i {
	color:#ccc;
}
td span {
	color:#999;
}

td .btn {
		padding:4px 6px !important;
		font-size:13px;
}

#update-form {
}
.form-control, .form-control:disabled, .form-control[readonly]
{
	border:none !important;
	border-bottom:2px solid #ccc !important;
}
form-control:disabled, .form-control[readonly]
{
	background:#eee !important;
}
.crud360-form {
	background:#FAFAFA;
	padding:15px 0;
	border:1px solid #ddd;
	display:none;
	margin-bottom:30px;
}
.delete-notice {
	color:#d9534f;
	font-weight:bold;
}
.crud360-form-delete {
	background:#fff0f0;
	padding:15px 0;
	border:1px solid #a55454;
	border-radius:5px;
	display:none;
	margin-bottom:30px;
}

.nomodal-body {

}
.nomodal-footer {
	padding-top:15px;
}
.nomodal-title {
}
.add-button .btn-primary, .add-button .btn-info
{
	font-size:13px;
	margin-bottom:0;
	padding:8px;
}

@media only screen and (max-width : 1200px) {
	td .btn, td {
		padding:4px 6px !important;
		font-size:13px;
		
	}
	.operations .btn {
		margin:5px 0;

	}



	td,th {
		font-size:13px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	

	
	.add-button-body {
		text-align:center;
	}
	.add-button {
		margin-top:30px;
	}
	.add-button h4 {
		text-align:center;
		font-size:20px;
		padding:0;
	}
	.add-button .btn-primary
	{
		margin-top:15px;
		font-size:13px;
		margin-bottom:0;
		padding:5px;
	}
	
/*
	body.modal-open, 
	.modal-open .navbar-fixed-top, 
	.modal-open .navbar-fixed-bottom {
	  margin-right: 0;
	  height:200%;
	}
	
	.modal {
	  left: 50%;
	  bottom: auto;
	  right: auto;
	  z-index: 1050;
	  padding: 0;
	  width: 500px;
	  margin-left: -250px;
	  background-color: #ffffff;
	  border: 1px solid #999999;
	  border: 1px solid rgba(0, 0, 0, 0.2);
	  border-radius: 6px;
	  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	  background-clip: padding-box;
	}
	
	.modal.container {
	  max-width: none;
	}
	
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1040;
	}
*/
	.hide-768 {
		display:none;
		width:0;
		height:0;
		opacity:0;
		visibility: collapse;

	}
}
.crud360-hide-row {
	height:0;
	display:non;
	color:#fff;
	opacity:0;
	visibility: collapse;
}
.tpl-key {
	text-transform:capitalize;
	font-weight:bold;
}
.records-tpl div {

}
.paddbottom {
	padding-bottom:15px;
}


